{% extends "base.html" %}

{% block title %}
    {{ image.title }}
{% endblock %}

{% block content %}
    <h1>{{ image.title }}</h1>
    <img src="{{ image.image.url }}" class="image-detail">

    {% with total_likes=image.users_like.count %}
        <div class="image-info">
            <div>
                <span class="count">
                    {{ total_likes }} like{{ total_likes|pluralize }}
                </span>
            </div>
            {{ image.description|linebreaks }}
        </div>
        <div class="image-likes">
            {% for user in image.users_like.all %}
                <div>
                    <img src="{{ user.profile.photo.url }}">
                    <p>{{ user.first_name }}</p>
                </div>
            {% empty %}
                Nobody likes this image yet.
            {% endfor %}
        </div>
    {% endwith %}
{% endblock %}

{% block domready %}
    <script>
        $(document).ready(function() {
            $('a.likebutton').click(function(e) {
                e.preventDefault();
                var action = $(this).data('action');
                var id = $(this).data('id');
                var url = '{% url "images:like" %}';
                $.ajax({
                    url: url,
                    method: 'POST',
                    data: {id: id, action: action},
                    success: function(data) {
                        if (data['status'] === 'ok') {
                            var previous_action = $('a.likebutton').data('action');
                            $('a.likebutton').data('action', previous_action === 'like' ? 'unlike' : 'like');
                            $('a.likebutton').text(previous_action === 'like' ? 'Unlike' : 'Like');
                            var previous_likes = parseInt($('span.count').text());
                            $('span.count').text(previous_action === 'like' ? previous_likes + 1 : previous_likes - 1);
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
