{% load static %}
<html>
    <head>
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id="header" class="header-container">
            <span class="logo"><h3>Bookmarks</h3></span>            
            {% if request.user.is_authenticated %}
                <ul class="menu">
                    <li {% if section == "dashboard" %}class="selected"{% endif %}>
                        <a href="{% url 'dashboard' %}">My Dashboard</a>
                    </li>
                    <li {% if section == "images" %}class="selected"{% endif %}>
                        <a href="#">Images</a>
                    </li>
                    <li {% if section == "people" %}class="selected"{% endif %}>
                        <a href="#">People</a>
                    </li>
                </ul>
            {% endif %}
            <span class="user">
                {% if request.user.is_authenticated %}
                    Hello {{ request.user.first_name }}
                    <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                    {% comment %} <a href="{% url 'login' %}">Login</a> {% endcomment %}
                {% endif %}
            </span>            
        </div>
        

        <div id="content" >
            
            {% block content %}
            
            {% endblock content %}
                
        </div>
    </body>
</html>