.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    margin-right: 10px;
  }
  
  .menu li a {
    text-decoration: none;
    color: #333;
  }
  
  .menu li.selected a {
    font-weight: bold;
  }
  
  .user a {
    text-decoration: none;
    color: #333;
  }
  

form {
    max-width: 400px; 
    margin: 0 auto; 
}

form p {
    width: 100%;
}

form p input[type="text"],
form p input[type="password"] {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 10px;
}

